{% extends "app/layout.html" %}

{% block content %}

<div class="main-container">
    <div class="cloud-image">
        <img src="../../static/app/img/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20Python%20Django%20website&hashtags=DjangoProject%2CPython%20%40PromotionTask">
                <img src="../../static/app/img/tweetThis.svg" />
            </a>            
        </div>
        <div class="content-body">
            <div class="success-text">Success!</div>
            <div class="description line-1"> Sample Project has been successfully setup</div>
            <div class="description line-2"> Your Python Django app is up and running</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started right away </h2>
        <p>
            Clone your code repository and start developing your application on IDE of your choice
        </p>
        <p><a class="btn btn-default" target="_blank"  href="https://github.com/sanjaykapoorsaini">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check our work</h2>
        <p>This is our old site</p>
        <p><a class="btn btn-default" target="_blank" href="https://deeplearning.nagarro.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>You can check our cool demos</h2>        
        <p><a class="btn btn-default" target="_blank" href="http://d8wozte49d6va.cloudfront.net/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
